.score {
  padding: 20px;
}

.arrows {
  font-size: 1.5em;

  span {
    display: inline-block;
    padding: 5px;
    cursor: pointer;
    user-select: none;
  }
}

.scoville-race {
  margin: 20px;
  display: table;
  border-collapse: collapse;

  .row {
    display: table-row;
  }

  .cell {
    display: table-cell;
    width: 30px;
    height: 30px;
    border: 1px solid #CDCDCD;

    &.spicy {
      background-color: green;
    }

    &.sweet {
      background-color: red;
    }
  }
}