body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.score {
  padding: 20px;
}

.arrows {
  font-size: 1.5em;
  margin: 0 15px;

  span {
    display: inline-block;
    padding: 5px;
    cursor: pointer;
    user-select: none;
  }
}

.game-over, .game-completed {
  margin: 10px 20px;
}

.scoville-race {
  margin: 20px;
  display: table;
  border-collapse: collapse;

  &.done {
    opacity: 0.5;
  }

  .row {
    display: table-row;
  }

  .cell {
    display: table-cell;
    width: 30px;
    height: 30px;
    border: 1px solid #CDCDCD;

    &.spicy {
      background-color: green;
    }

    &.sweet {
      background-color: red;
    }

    &.done {
      background-color: lightgray;
    }
  }
}